<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Chatvia - Đăng ký</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link rel="stylesheet" th:href="@{css/styles-light.min.css}">
    <link rel="stylesheet" th:href="@{css/styles-dark.min.css}" media="(prefers-color-scheme: dark)">
</head>

<body>
<!-- Layout -->
<div class="layout bg-light h-100">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center g-0 h-100">
            <div class="col-12 col-sm-10 col-md-7 col-lg-5 col-xl-4">
                <!-- Heading -->
                <div class="text-center mb-4">
                    <img src="/img/logo.png" height="40" alt="">
                </div>
                <h2 class="text-center mb-1">Đăng ký</h2>
                <!-- Heading -->

                <!-- Text -->
                <p class="text-center mb-4">Tạo tài khoản Chatvia</p>
                <!-- Text -->

                <!-- Card -->
                <div class="card">
                    <div class="card-body p-4">
                        <!-- Form -->
                        <form class="mb-4" method="post">
                            <!-- Username -->
                            <div class="mb-4">
                                <label class="mb-2" for="fullname">Tên người dùng</label>
                                <!--/*@thymesVar id="FULLNAME" type="java.lang.String"*/-->
                                <input th:value="${FULLNAME}" type="text" id="fullname" required name="fullname" class="form-control form-control-solid form-control-lg" placeholder="Tên đăng nhập">

                            </div>
                            <!-- Username -->

                            <!-- Email -->
                            <div class="mb-4">
                                <label for="email" class="mb-2">Email</label>
                                <!--/*@thymesVar id="EMAIL" type="java.lang.String"*/-->
                                <input th:value="${EMAIL}"  type="email" id="email" name="email" required  class="form-control form-control-solid form-control-lg" placeholder="Email">

                                <!--/*@thymesVar id="ERROR_EMAIL" type="java.lang.String"*/-->
                                <p class="form-text text-danger" th:text="${ERROR_EMAIL}"></p>
                            </div>
                            <!-- Email -->

                            <!-- Password -->
                            <div class="mb-4">
                                <label for="password" class="mb-2">Mật khẩu</label>
                                <!--/*@thymesVar id="PASSWORD" type="java.lang.String"*/-->
                                <input th:value="${PASSWORD}" type="password" id="password" name="password" required class="form-control form-control-solid form-control-lg" placeholder="Mật khẩu">
                                <!--/*@thymesVar id="ERROR_PASSWORD" type="java.lang.String"*/-->
                                <p class="form-text text-danger" th:text="${ERROR_PASSWORD}"></p>
                            </div>
                            <!-- Password -->

                            <!-- Repassword -->
                            <div class="mb-4">
                                <label for="password" class="mb-2">Mật lại mật khẩu</label>
                                <!--/*@thymesVar id="REPASSWORD" type="java.lang.String"*/-->
                                <input th:value="${REPASSWORD}" type="password" id="repassword" name="repassword" required class="form-control form-control-solid form-control-lg" placeholder="Mật lại mật khẩu">
                            </div>
                            <!-- Repassword -->

                            <!-- Button -->
                            <div class="d-grid">
                                <button class="btn btn-lg btn-primary" type="submit">Đăng ký</button>
                            </div>
                            <!-- Button -->
                        </form>
                        <!-- Form -->

                        <!-- Text -->
                        <p class="text-center mb-1 form-text">
                            Bằng việc nhắn đăng kí đồng nghĩ với việc bạn đồng ý với <a href="#">Chính sách và quy định.</a>
                        </p>
                        <!-- Text -->

                        <!-- Text -->
                        <p class="text-center mb-0">
                            Bạn đã có tài khoản?
                            <a href="/login">Đăng nhập ngay</a>
                        </p>
                        <!-- Text -->
                    </div>
                </div>
                <!-- Card -->
            </div>
        </div>
    </div>
</div>
<!-- Layout -->

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="./js/app.min.js"></script>
<script>
    document.querySelectorAll('.card input').forEach(el => {
        el.oninput = () => {
            el.parentElement.querySelector('.text-danger')?.remove()
        }
    })
</script>
<!-- Scripts -->
</body>

</html>