<div th:fragment="html_friendTab" class="tab-pane fade h-100" id="friends-tab" role="tabpanel">
    <div class="d-flex flex-column h-100">
        <!-- Tab Header -->
        <div class="tab-header d-flex align-items-center border-bottom">
            <ul class="d-flex justify-content-between align-items-center list-unstyled w-100 mx-4 mb-0">
                <!-- Title -->
                <li>
                    <h3 class="mb-0">Bạn bè</h3>
                </li>
                <!-- Title -->

                <!-- Buttons -->
                <li>
                    <ul class="list-inline">
                        <!-- Menu Button -->
                        <li class="list-inline-item">
                            <button type="button" class="navigation-toggle btn btn-secondary btn-icon d-xl-none">
                                <i class="ri-menu-line"></i>
                            </button>
                        </li>
                        <!-- Menu Button -->
                    </ul>
                </li>
                <!-- Buttons -->
            </ul>
        </div>
        <!-- Tab Header -->

        <!-- Search Input -->
        <div class="m-4">
            <form class="input-group" id="form-search">
                <input type="text" class="form-control form-control-lg form-control-solid" placeholder="Tìm kiếm mọi người" aria-label="Search friends" aria-describedby="search-friends-button" name="q">
                <button class="btn btn-secondary btn-lg" type="submit" id="search-friends-button"><i class="ri-search-line"></i></button>
            </form>
        </div>
        <!-- Search Input -->

        <!-- Tab Content -->
        <div class="hide-scrollbar h-100">
            <div class="m-4 friend-list">

            </div>
        </div>
        <!-- Tab Content -->
    </div>
</div>